%p
	= render :partial => "common/button", :locals => {:name=>'copy',
																									:caption=>t('copy',:scope=>'message'),
																									:icon=>'icon-tags icon-white'}
	= render :partial => "common/button", :locals => {:name=>'move',
																									:caption=>t('move',:scope=>'message'),
																									:icon=>'icon-chevron-right icon-white'}

	= t(:to_folder,:scope=>:folder) + " " 
	= raw simple_select_for_folders("folder","target",@folders_shown,'',true)

%p
	= render :partial => "common/button", :locals => {:name=>'show_header',
																									:caption=>t('show_header',:scope=>'show'),
																									:icon=>'icon-zoom-in icon-white'}
	= render :partial => "common/button", :locals => {:name=>'trash',
																									:caption=>t('trash',:scope=>'show'),
																									:icon=>'icon-trash icon-white'}
	= render :partial => "common/button", :locals => {:name=>'reply',
																									:caption=>t('reply',:scope=>'show'),
																									:icon=>'icon-arrow-left icon-white'}
	= render :partial => "common/button", :locals => {:name=>'forward',
																									:caption=>t('forward',:scope=>'show'),
																									:icon=>'icon-arrow-right icon-white'}
																									
