= content_for :sidebar do
	= render :partial => "sidebar/sidebar"

= content_for :title do
	\-
	= t(:messages,:scope=>:message)

= render :partial => 'common/main_navigation', :locals => { :messages => :active }

.well
	%h3
		= t(:current,:scope=>:folder)
		\:
		= pretty_folder_name(@current_folder)
	%h5
		= t(:total,:scope=>:message)
		\:
		= @messages.total_entries


%form{:class=>"form-horizontal top-pix18",:action=>"#{messages_ops_multi_path}",:method=>"post"}
	- if @current_folder.nil?
		.alert
			= t(:no_selected,:scope=>:folder)
	- if @messages.size.zero?
		.alert
			= t(:no_in,:scope=>:message)
	- else
		= render :partial => 'multi_ops'
		= render :partial => 'messages' 
