<div class="inner">
<div class="actions-bar">
<span class="other_info"> <%= t(:total_entries,:scope=>:link) %>: <%= @links.total_entries %></span>
<%= will_paginate @links %>
</div>
<table class="table">
<tbody>
<tr>
<th class="first"><input id="toggleall" class="checkbox toggle" type="checkbox" name="allbox"/></th>
<%= raw links_table_header %>
<th class="last"></th>
</tr>
<% trclass = :even %>
<% @links.each do |c| %>
<tr class="<%= trclass.to_s %>">
<%= render :partial => 'link', :object => c %>
</tr>
<% trclass == :even ? trclass = :odd : trclass = :even %>
<% end %>
</tbody>
</table>
<div class="actions-bar">
<%= will_paginate @links %>
</div>
</div>
