<% content_for :sidebar do %>
<%= content_for_sidebar %>
<% end %>

<% content_for :title do %>
- <%= t(:links,:scope=>:link) %>
<% end %>

<div class="block">
<div class="navigation-tabs clearfix">
<%= raw main_navigation(:links_tab) %>
</div>
<div class="content">
<%= form_tag(links_ops_path,{:name=>'links'})%>
<% if @links.size.zero? %>
<h3><%= t(:no_entries,:scope=>:link) %></h3>
<%= raw single_action('create_new','link','plus.png') %>
</form>
<% else %>
<%= render :partial => 'ops' %>
<%= render :partial => 'list' %>
</form>
<% end %>
</div>
</div>

