= render :partial => "common"

%form{:class=>"form-horizontal top-pix18",:action=>url_for(@note),:method=>"post"}
	- if @notes.size.zero?
		.alert
			= t(:no_entries,:scope=>:note)
		%p{:class=>"bottom-pix18"}
			= render :partial => "common/anchor", :locals => {:caption=>t('create_new',:scope=>'note'),
																												:icon=>'icon-plus icon-white',
																												:href=>new_note_path}
	- else
		.well.narrow
			%h5
				= t(:total_entries,:scope=>:note)
				\:
				= @notes.total_entries
		%p{:class=>"bottom-pix18"}
			= render :partial => "common/anchor", :locals => {:caption=>t('create_new',:scope=>'note'),
																												:icon=>'icon-plus icon-white',
																												:href=>new_note_path}
			= render :partial => "common/button", :locals => {:name=>'delete_selected',
																									:caption=>t('delete_selected',:scope=>'note'),
																									:icon=>'icon-minus icon-white'}
		= render :partial => 'list'

= render :partial => 'common/import_export',:locals=>{:im_ex_path => notes_import_export_path,
																					:im_ex_label => t(:select_file,:scope=>:note),
																					:im_ex_size => @notes.total_entries }
