= content_for :sidebar do
	= render :partial => "sidebar/sidebar"

= content_for :title do
	\-
	= t(:about,:scope=>:internal)

= render :partial => 'common/main_navigation', :locals => { :about => :active }

.well.narrow
	%h3
		= t(:current_version,:scope=>:internal) + ": " + $defaults["version"]
.well.narrow
	= raw BlueCloth::new(render :file => 'README.markdown').to_html
.well.narrow
	= raw BlueCloth::new(render :file => 'CHANGES.markdown').to_html
.well.narrow
	= raw BlueCloth::new(render :file => 'TODO.markdown').to_html
.well.narrow
	= raw BlueCloth::new(render :file => 'AUTHORS.markdown').to_html
.well.narrow
	= raw BlueCloth::new(render :file => 'UNLICENSE.markdown').to_html

