<td>
<%= link_to attachment.filename, messages_attachment_download_path(attachment.parent_id,attachment.idx) %>
</td>
<td>
<%= attachment.main_type %>/<%= attachment.sub_type %>
</td>
<td>
<%= attachment.charset %>
</td>
<td>
<%= attachment.content_transfer_encoding %>
</td>
<td>
<%= size_formatter(attachment.getSize) %>
</td>
<td>
<%= link_to t(:download), messages_attachment_download_path(attachment.parent_id,attachment.idx) %>
</td>
<td>
<%= link_to t(:view), messages_part_body_path(attachment.parent_id,attachment.idx) %>
</td>
