<%= form_tag(sendout_or_save_path)%>
<div class="params">
<%= raw form_field(	@message,
					"to_addr",
					nil,
					"joe@domain.com"+', '+ t(:not_contain_at,:scope=>:compose),
					address_formatter(@message.to_addr,@operation)
					) %>
<%= raw form_field(	@message,
					"subject",
					nil,
					t(:subject_of_the_message,:scope=>:compose),
					subject_formatter(@message.subject,@operation)
					) %>
<%= raw area_field(	@message,
					"body",
					nil,
					t(:write_your_message_here,:scope=>:compose),
					body_formatter(@message.body,@operation),
					80,
					20
					) %>
</div>
<% if !@olduid.nil? %>
<%= hidden_field_tag 'olduid', @olduid %>
<% end %>
<%= raw group_action(@buttons) %>
<%= render :partial=> 'messages/file_attachs' %>
</form>

