<td><%= check_box_tag "uids[]", row.uid %></td>
<td><%= attachment_formatter(row) %></td>

<% if @current_folder == @sent_folder || @current_folder == @drafts_folder %>
    <td nowrap="nowrap"><%= address_formatter(row.to_addr,:index) %></td>
<% else %>
    <td nowrap="nowrap"><%= address_formatter(row.from_addr,:index) %></td>
<% end %>

<td nowrap="nowrap"><%= subject_formatter(row) %></td>
<td nowrap="nowrap"><%= date_formatter(row.date) %></td>
</td><td nowrap="nowrap"><%= size_formatter(row.size) %></td>
<% if @current_folder == @drafts_folder %>
<td><%= link_to(t(:edit,:scope=>:message),messages_ops_single_path(row.uid)) %></td>
<% else %>
<td><%= raw('&nbsp;') %></td>
<% end %>
