<% content_for :sidebar do %>
<%= render :partial => 'folders/list' %>
<% end %>

<% content_for :title do %>
- <%= t(:compose,:scope=>:compose) %>
<% end %>

<div class="block" id="block-tables">
    <div class="secondary-navigation">
        <%= raw main_navigation(:compose) %>
    </div>
    <div class="content">
            <h2><%= t(:new_message,:scope=>:compose) %></h2>
        <%= form_tag(sendout_or_save_path)%>
        <div class="inner">
            <%= render :partial => 'messages/new' %>
        </div>
        </form>
    </div>
</div>

