<% content_for :sidebar do %>
<%= render :partial => 'folders/list' %>
<% end %>

<% content_for :title do %>
- <%= show_subject_formatter(@subject) %>
<% end %>

<div class="block" id="block-tables">
    <div class="secondary-navigation">
        <%= raw main_navigation(:show) %>
    </div>
    <div class="content">
        <%= form_tag(messages_msgops_path)%>
        <%= render :partial => 'header' %>
        <%= render :partial => 'msg_ops' %>

        <% if not @attachments.size.zero? %>
            <%= render :partial => 'attachments' %>
        <% end %>

        <% if not @images.size.zero? %>
            <%= render :partial => 'images' %>
        <% end %>

        <% if not @html_part.nil? %>
            <%= render :partial => 'html_part' %>
        <% else %>
            <div class="render_text">
            <span><%= t(:content,:scope=>:message) %></span>
                <% if @text_part.nil? %>
                <p>
                    <%= t(:no_content,:scope => :message) %>
                </p>
            <% else %>
                <%= raw content_text_plain_for_render(@text_part) %>
            <% end %>
            </div>
        <% end %>
        </form>
    </div>
</div>


