<h4>{{i18n folders.config}}</h4>

<h5>{{i18n folders.management}}</h5>

<ul class="side-nav">
{{#each folder in controller}}
<li>

<i {{action "showToggle" folder}}{{bind-attr class=":fi-eye folder.notShown"}}></i>

{{folder.name}}

</li>
{{/each}}
</ul>

<h5>{{i18n folders.create}}</h5>
{{input value=folderName}}
<button class="button radius small" {{action "createFolder"}}><i class="fi-plus"></i>{{i18n folders.to_create}}</button>
