%tr
	%td
		= check_box_tag "items_ids[]", contact.id
		\/
		= link_to "<i class=\"icon-edit\"></i>".html_safe,edit_contact_path(contact)
	%td{:nowrap=>"nowrap"}
		= link_to contact.name,compose_contact_path(contact.id)
	%td{:nowrap=>"nowrap"}
		= link_to contact.email, compose_contact_path(contact.id)
	%td{:nowrap=>"nowrap"}
		= contact.info
