= content_for :sidebar do
	= render :partial => "sidebar/sidebar"

= content_for :title do
	\-
	= t(:contacts,:scope=>:contact)

= render :partial => 'common/main_navigation', :locals => { :contacts => :active }

%form{:class=>"form-horizontal top-pix18",:action=>url_for(@contact),:method=>"post"}
	- if @contacts.size.zero?
		.alert
			= t(:no_entries,:scope=>:contact)
		%p{:class=>"bottom-pix18"}
			= render :partial => "common/anchor", :locals => {:caption=>t('create_new',:scope=>'contact'),
																												:icon=>'icon-plus icon-white',
																												:href=>new_contact_path}
	- else
		.well.narrow
			%h5
				= t(:total_entries,:scope=>:contact)
				\:
				= @contacts.total_entries
		%p{:class=>"bottom-pix18"}
			= render :partial => "common/anchor", :locals => {:caption=>t('create_new',:scope=>'contact'),
																												:icon=>'icon-plus icon-white',
																												:href=>new_contact_path}
			= render :partial => "common/button", :locals => {:name=>'delete_selected',
																									:caption=>t('delete_selected',:scope=>'contact'),
																									:icon=>'icon-minus icon-white'}
			= render :partial => "common/button", :locals => {:name=>'compose_to_selected',
																									:caption=>t('compose_to_selected',:scope=>'contact'),
																									:icon=>'icon-envelope icon-white'}
		= render :partial => 'list'

= render :partial => 'common/import_export',:locals=>{:im_ex_path => contacts_import_export_path,
																					:im_ex_label => t(:select_file,:scope=>:contact),
																					:im_ex_size => @contacts.total_entries }
