= content_for :sidebar do
	= render :partial => "sidebar/sidebar"

= content_for :title do
	\-
	= t(:links,:scope=>:link)

= render :partial => 'common/main_navigation', :locals => { :links => :active }

%form{:class=>"form-horizontal top-pix18",:action=>url_for(@link),:method=>"post"}
	- if @links.size.zero?
		.alert
			= t(:no_entries,:scope=>:link)
		%p{:class=>"bottom-pix18"}
			= render :partial => "common/anchor", :locals => {:caption=>t('create_new',:scope=>'link'),
																												:icon=>'icon-plus icon-white',
																												:href=>new_link_path}
	- else
		.well{:style=>"padding: 5px 3pt;"}
			%h5
				= t(:total_entries,:scope=>:link)
				\:
				= @links.total_entries
		%p{:class=>"bottom-pix18"}
			= render :partial => "common/anchor", :locals => {:caption=>t('create_new',:scope=>'link'),
																												:icon=>'icon-plus icon-white',
																												:href=>new_link_path}
			= render :partial => "common/button", :locals => {:name=>'delete_selected',
																									:caption=>t('delete_selected',:scope=>'link'),
																									:icon=>'icon-minus icon-white'}
		= render :partial => 'list'


