%tr
	%td
		= check_box_tag "cids[]", server.id
	%td{:nowrap=>"nowrap"}
		= server.name
	%td{:nowrap=>"nowrap"}
		= server.port
	%td{:nowrap=>"nowrap"}
		= boolean_answer(server.use_ssl)
	%td{:nowrap=>"nowrap"}
		= boolean_answer(server.use_tls)
	%td{:nowrap=>"nowrap"}
		= boolean_answer(server.for_imap)
	%td{:nowrap=>"nowrap"}
		= boolean_answer(server.for_smtp)
	%td{:nowrap=>"nowrap"}
		= server.auth
