= content_for :sidebar do
	= render :partial => "sidebar/sidebar"

= content_for :title do
	\-
	= t(:servers,:scope=>:prefs)

= render :partial => 'common/main_navigation', :locals => { :prefs => :active }
= render :partial => 'common/prefs_navigation', :locals => { :servers => :active }

%table{:class=>"table table-bordered records"}
	%thead
		%tr
			%th
				= raw servers_table_header
			%tbody
				- @servers.each do |s|
					= render :partial => 'prefs/server', :locals => { :server => s }
