<% content_for :sidebar do %>
<%= content_for_sidebar %>
<% end %>

<% content_for :title do %>
- <%= t(:folders,:scope=>:folder) %>
<% end %>

<div class="block">
<div class="navigation-tabs clearfix">
    <%= raw main_navigation(:folders_tab) %>
</div>
<div class="content">
<div class="inner">
    <div class="columns clearfix">
        <div class="column left">
            <%= render :partial => 'create' %>
            <%= render :partial => 'delete' %>
            <%= render :partial => 'system' %>
        </div>
        <div class="column right">
			<%= render :partial => 'refresh' %>
        </div>
    </div>
</div>
</div>

