- content_for :title do
	\-
	= t(:login,:scope=>:user)

%form{:class=>"form-horizontal top-pix18",:action=>"#{url_for(:controller => 'user', :action => 'authenticate')}",:method=>"post"}
	%fieldset
		= render :partial => "common/input_form_field",:locals => { :model => 'user',:attr => 'login'}
		= render :partial => "common/input_form_field",:locals => { :model => 'user',:attr => 'password'}
		= render :partial => "common/form_button",:locals => { :text => t(:please_login,:scope=>:user)}
		
			
					
