<% content_for :title do %>
  <%= t(:unknown_title,:scope=>:user) %>
<% end %>

<div class="box">
<div class="box2">
<div class="logo"><a href="/"><img src="" alt="Mailr"/></a>
</div>
<h2><%= t(:unknown_title,:scope=>:user) %></h2>
	<div class="content">
	<div class="flash"><div class="message warning"><p><%= t(:unknown_flash,:scope=>:user) %></p></div></div>
	<p><%= t(:unknown_login,:scope=>:user) %> -> <%= link_to t(:login,:scope=>:user),user_login_path %></p>
	<p><%= t(:unknown_setup,:scope=>:user) %> -> <%= link_to t(:setup,:scope=>:user),:controller => "user",:action => "setup",:login => params[:login] %></p>
	</div>
</div>
</div>
