<td><%= check_box_tag "cids[]", server.id %></td>
<td nowrap="nowrap"><%= server.name %></td>
<td nowrap="nowrap"><%= server.port %></td>
<td nowrap="nowrap"><%= boolean_answer(server.use_ssl) %></td>
<td nowrap="nowrap"><%= boolean_answer(server.use_tls) %></td>
<td nowrap="nowrap"><%= boolean_answer(server.for_imap) %></td>
<td nowrap="nowrap"><%= boolean_answer(server.for_smtp) %></td>
<td nowrap="nowrap"><%= server.auth %></td>
<td nowrap="nowrap">&nbsp;</td>
