<% content_for :sidebar do %>
<%= content_for_sidebar %>
<% end %>

<% content_for :title do %>
- <%= t(:prefs,:scope=>:prefs) %>
<% end %>

<div class="block">
    <div class="navigation-tabs clearfix">
        <%= raw main_navigation(:prefs_tab) %>
    </div>
    <div class="content secondary"><div class="navigation-tabs clearfix">
        <%= raw prefs_navigation(:identity_tab) %>
    </div>
        <div class="inner"> <%= form_tag(prefs_update_identity_path,:name=>'prefs') %>
            <div class="columns clearfix">
                <div class="column left">
                    <%= render :partial => 'prefs/identity_left' %>
                </div>
                <div class="column right">
                    <%= render :partial => 'prefs/identity_right' %>
                </div>
            </div></form>
        </div>
    </div>
</div>
