<% content_for :sidebar do %>
<%= content_for_sidebar %>
<% end %>

<% content_for :title do %>
- <%= t(:prefs,:scope=>:prefs) %>
<% end %>

<div class="block">
    <div class="navigation-tabs clearfix">
        <%= raw main_navigation(:prefs_tab) %>
    </div>
    <div class="content secondary"><div class="navigation-tabs clearfix">
        <%= raw prefs_navigation(:servers_tab) %>
    </div>
        <div class="inner">
        <%= form_tag(prefs_update_servers_path,:name=>'prefs') %>
			<%= render :partial => 'prefs/servers_list' %>
		</form>
        </div>
    </div>
</div>
