<div class="row">
  <div class="small-3 columns">
    {{ partial 'logo' }}
    {{ partial 'version' }}
    <div class="outlet-sidebar">
      {{ outlet sidebar }}
      {{ partial 'logout' }}
    </div>
  </div>
  <div class="small-9 columns">
    <div class="row">
      {{ partial 'subnav' }}
    </div>
    <div class="row outlet-main">
      {{ outlet }}
    </div>
  </div>
</div>
