appName: {{ appName }}
currentFolder: {{ currentFolder }}
<div class="row">
  <div class="large-3 columns">
    {{ partial 'logo' }}
    {{ partial 'version' }}
    {{ outlet sidebar }}
  </div>
  <div class="large-9 columns">
    <div class="row">
      <dl class="sub-nav top-menu">
        <dd>{{#link-to 'newmessage'}}Nowa wiadmość{{/link-to}}</dd>
        <dd>{{#link-to 'messages' currentFolder}}Wiadomości{{/link-to}}</dd>
        <dd>{{#link-to 'folders.configuration'}}Katalogi{{/link-to}}</dd>
        <dd>{{#link-to 'settings'}}Ustawienia{{/link-to}}</dd>
      </dl>
    </div>
    <div class="row">
      {{ outlet main }}
    </div>
  </div>
</div>
