<div class="panel">
{{ name }}
{{ ident }}
{{ id }}
{{ partial 'debug' }}
</div>
<div class="outlet">
Outlet header
{{outlet header}}
</div>
<div class="outlet">
Outlet local
{{outlet local}}
</div>
{{!-- {{ log App.Router.router.currentParams.folder_id }} --}}
