<div class="row">
  <div class="large-9 columns">
    <h4>Number of messages: {{length}}</h4>
  </div>
</div>
<div class="row">
  <div class="large-9 columns">
    <table>
      <tbody>
      {{#each}}
      <tr>
        <td>{{ from }}</td>
        <td>{{#link-to 'message' this}} {{ subject }} {{/link-to}}</td>
        <td>{{ arrivedAt }}</td>
      </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</div>
<div class="panel">
{{ outlet }}
</div>
{{ controller }}
