- size ||= "btn-small"
- type ||= "btn-primary"

%button{:class=>"btn #{size} #{type}",:type=>"submit",:onclick=>"window.location='#{url}'"}
	%i{:class=>"#{icon}"}
	= t(text.to_sym, :scope => scope.to_sym)
