%form{:enctype=>"multipart/form-data", :class=>"form-horizontal top-pix18",:action=>"#{im_ex_path}",:method=>"post"}
	= render :partial => "common/file_select", :locals => { :model_label => "#{im_ex_label}",
																											:model_string => "upload",
																											:attr => "datafile"}
	%p
		= render :partial => "common/button", :locals => {:name=>'import',
																									:caption=>t('import',:scope=>'contact'),
																									:icon=>'icon-upload icon-white'}
		- if !im_ex_size.zero?
			= render :partial => "common/button", :locals => {:name=>'export',
																									:caption=>t('export',:scope=>'contact'),
																									:icon=>'icon-download icon-white'}
