- model = eval(object.class.model_name)
- label.nil? ? model_label = model.human_attribute_name(attr) : model_label = t(label.to_sym)
.control-group
	%label{:class=>"control-label",:for=>"#{attr}"}
		= model_label
	.controls
		%input{:id=>"#{model}_#{attr}",:name=>"#{model}[#{attr}]"}
		
