.control-group
	%label{:class=>"control-label",:for=>"#{attr}"}
		= model.capitalize.constantize.human_attribute_name(attr)
	.controls
		%input{:type=>"password",:id=>"#{model}_#{attr}",:name=>"#{model}[#{attr}]"}
