- look ||= ""
- identity ||= ""
- servers ||= ""

%ul{:class=>"nav nav-pills"}
	%li{:class=>"#{look}"}
		= link_to( t(:look,:scope=>:prefs), prefs_look_path )
	%li{:class=>"#{identity}"}
		= link_to( t(:identity,:scope=>:prefs), prefs_identity_path )
	%li{:class=>"#{servers}"}
		= link_to( t(:servers,:scope=>:prefs), prefs_servers_path )
