<% content_for :sidebar do %>
<%= content_for_sidebar %>
<% end %>

<% content_for :title do %>
- <%= t(:contacts,:scope=>:contact) %>
<% end %>

<div class="block">
<div class="navigation-tabs clearfix">
<%= raw main_navigation(:contacts_tab) %>
</div>
<div class="content">
<%= form_tag(contacts_ops_path,{:name=>'contacts'})%>
<% if @contacts.size.zero? %>
<h3><%= t(:no_entries,:scope=>:contact) %></h3>
<%= raw single_action('create_new','contact','plus.png') %>
</form>
<% else %>
<%= render :partial => 'ops' %>
<%= render :partial => 'list' %>
</form>
<% end %>
<%= render :partial => 'external' %>
</div>
</div>

